*{
    font-family: 'Poppins', sans-serif;
}

.login {
    height: 100vh;
}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #737373;
    margin-bottom: 20px;
}

.login-form label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
}

.login-form input {
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-form a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin: 20px 0;
    display: block;
}

.login-form .login-button {
    width: 100%;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

.login-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}

.login-form span a{
    font-weight: 600;
}

.login-right h5{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.navbar-brand{
    font-weight: 600;
}

.nav-item{
    font-weight: 100;
}

.wrapper .left,
.wrapper .right {
      width: 100%;
      height: 50vh;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}


.wrapper .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.25s ease all;
}


.pembeli {
      background: url('img/7.png');
}

.penjual {
      background: url('img/8.jpg');
}



.wrapper .caption {
      position: relative;
      z-index: 10;
      color: #fff;
      text-align: center;
}


.wrapper .caption h1 {
      text-transform: uppercase;
      letter-spacing: 0.25em;
      margin-bottom:1em;
}


.wrapper .caption .button {
      background: #000;
      color: #fff;
      padding: 1em 2em;
      text-decoration: none;
      font-weight: 600;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      transition: 0.25s ease all;
}


.wrapper .caption .button:hover {
      background: #ffffff;
      color: #000;
}


.wrapper .side::before {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6979166666666667) 0%, rgba(0, 0, 0, 0.2721463585434174) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      display: block;
}


.wrapper .left:hover .image,
.wrapper .right:hover .image {
      transform: scale(1.2);
}

@media screen and (min-width:1200px) {

      .wrapper {
            display: flex;
      }


      .wrapper .left,
      .wrapper .right {
            width: 50%;
            height: 100vh;
      }

}