@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.navbar-brand {
  font-weight: 600;
}

.nav-item {
  font-weight: 300;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-dark {
  background-color: #000000 !important;
}

